@model InstitutoIdioma.Models.Examen

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Examen</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
    </dl>
    <div><p>Preguntas</p></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Enunciado
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Preguntas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enunciado)
                    </td>
                    <td>
                        <a asp-controller="Pregunta" asp-action="Details" asp-route-id="@item.Id" asp-route-examenId="@Model.Id">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a href="javascript:void(0);" onclick="history.go(-1);">Volver</a>
</div>
