@model IEnumerable<InstitutoIdioma.Models.Examen>

@{
    ViewData["Title"] = "Exámenes";
}

<head>
 

</head>

<h1 class="titl">Exámenes</h1>

<p>
    <a asp-action="Create" class="crearnuevo"  style=" color:white">CREAR NUEVO EXAMEN</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="nombreExamen">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td class="nivelExamen">
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                <a class="acciones" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="acciones" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="acciones" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
