@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstitutoIdioma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/layout.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar bg-black">
        <div class="container-fluid">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">InstitutoIdioma</a>
            <div class="d-flex center-menu">
                @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("Usuario")))
                {
                    <a class="btn" id="Examen" asp-area="" asp-controller="Examen" asp-action="RendirExamenMenu">Exámenes</a>
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("Perfil") >= (int)TipoPerfil.PROFESOR)
                    {
                        <a class="btn" id="AdminsitrarExamen" asp-area="" asp-controller="Examen" asp-action="Index">Administrar Exámenes</a>
                        <a class="btn" id="AdminsitrarNivel" asp-area="" asp-controller="Usuario" asp-action="AdministrarNiveles">Asignar Nivel</a>
                    }
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("Perfil") >= (int)TipoPerfil.DIRECTOR)
                    {
                        <a class="btn" id="AdminsitrarPerfiles" asp-area="" asp-controller="Usuario" asp-action="AdministrarPerfiles">Asignar Perfil</a>
                    }
                    <p class="menu-separator"></p>
                    <p> Bienvenido, @HttpContextAccessor.HttpContext.Session.GetString("Usuario")</p>
                    <a class="btn" id="CerrarSesion" asp-area="" asp-controller="Usuario" asp-action="Logout">CERRAR SESION </a>

                }
                else
                {
                    <a class="btn" id="inicio" asp-area="" asp-controller="Usuario" asp-action="InicioForm">INICIAR SESION </a>
                    <a class="btn" id="registro" asp-area="" asp-controller="Usuario" asp-action="RegistroForm">REGISTRARSE</a>
                }
            </div>
        </div>
    </nav>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - InstitutoIdioma - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
