@model InstitutoIdioma.Models.Pregunta

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Pregunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Enunciado" class="control-label"></label>
                <input asp-for="Enunciado" class="form-control" />
                <span asp-validation-for="Enunciado" class="text-danger"></span>
            </div>
            <div><p>Opciones</p></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Opción
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Opciones)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Texto)
                            </td>
                            <td>
                                <a asp-controller="Pregunta" asp-action="Edit" asp-route-id="@item.Id" asp-route-examenid="@Model.Id">Editar</a> |
                                <a asp-controller="Pregunta" asp-action="Details" asp-route-id="@item.Id" asp-route-examenId="@Model.Id">Detalles</a> |
                                <a asp-controller="Pregunta" asp-action="Delete" asp-route-id="@item.Id" asp-route-examenId="@Model.Id">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a asp-controller="Pregunta" asp-action="Create" asp-route-examenId="@Model.Id">Agregar Pregunta</a>
            </p>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<input asp-for="Examen.Id" hidden />


<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Volver</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
